.Header{
    background-color: green;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:400px;
}

.Header img {
    height: 200px;
    width: 300px;
}