.Header{
    background-color: #8BA9C8;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:auto;
    width: 1300px;
    color: white;
    border: 5px solid black;
}

.Header img {
    height: 150px;
    border-radius: 30px;
    padding-bottom: 20px;
}