nav {
    background-color: #92979B;
    padding: 10px;
    width: 1300px;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

li {
    margin-right: 1rem;
    
}

a {
    text-decoration: none;
    color: white !important;
    width: 800px;
}

a:hover {
    color: white;
}